@using DesktopWarrior.Models
@model List<Category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<h2>Index of Products</h2>
<div class="row">
    @foreach (Category cat in Model)
    {
        <a class="col-md-12 product-category" href="@Url.Action("AuthProductIndex", "Product", new { productType = cat.UrlFriendlyTitle, categoryId = cat.CategoryId })">
            @Html.Raw(cat.Icon)
            <h3>@cat.Title</h3>
        </a>
    }
</div>

@Html.ActionLink("Create product", "Create", "Product")