@using DesktopWarrior.Models
@using DesktopWarrior.Models.ViewModels
@model UpdateProductViewModel

@{
    ViewBag.Title = "CreateForm";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}


<a class="col-md-4 product-type" href="@Url.Action("AuthProductIndex", "Product", new { productType = Model.Category.UrlFriendlyTitle, categoryId = Model.Product.CategoryId })">
    <h3>GO BACK</h3>
</a>
<h2>Update the current product</h2>
@using (Html.BeginForm("Update", "Product", FormMethod.Post, new { @class = "form-product__update",  }))
{

    @Html.EditorFor(x => x.Product)

    <button type="submit">Update product</button>
}