.product-type {
    border: 1px solid black;
    min-height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.auth-sidenav {
    list-style-type: none;
    padding-left: 0;
}

.auth-sidenav li a{
    padding: 8px;
    width: 100%;
    display: block;
    background-color: #f1f1f1;
    text-decoration: none;
    border-left: 1px solid #e1e1e1;
    border-right: 1px solid #e1e1e1;
    color: #000;
}

.auth-sidenav li a:hover {
    background-color: #e6e6e6
}

.auth-sidenav li:not(:last-child) {
    border-bottom: 1px solid #e1e1e1;
}

.auth-sidenav li:first-child a{
    border-top: 1px solid #e1e1e1;
    border-radius: 5px 5px 0 0;
}

.auth-sidenav li:last-child a {
    border-bottom: 1px solid #e1e1e1;
    border-radius: 0 0 5px 5px;
}

.container.body-content {
    margin-top: 50px;
}

.form-product__create {
    display: flex;
    flex-direction: column;
}


.form-product__create label {
    margin-top: 10px;
}

.db-products-detail {
    height: 150px;
    display: flex;
    border-bottom: 1px solid grey;
    width: 100%;
}

.db-products-detail #image, .db-products-detail #image img {
    height: 100%;
}

.db-product .create-btn {
    
      display: flex;
    justify-content: center;
    width: 100%;
    margin: 20px;
}

.db-product h3 {
    padding: 5px 15px;
}

.db-product a p {
    padding: 7px 4px
}

.form-product__update {
      width: 70%;
    margin: 20px 1px;
    border-radius: 5px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 4px #848484;
}

.form-product__update input {
    width: 100%;
}
.form-product__update .editor-label {
    margin-top: 10px;
}
.form-product__update .editor-label label {
    font-size: 15px;
    font-weight: 400;
}
form.remove-type {
    display: flex;
    padding: 5px 0;
    align-items: center;
}

form.remove-type button {
    padding: 0px 5px;
    font-size: 12px;
    margin-right: 5px;
}

.product-category {
    display: flex;
    height: 100px;
    align-items: center;
    border-bottom: 1px solid #7d7d7d;
}

.product-category h3 {
    font-size: 20px;
    padding: 0 20px;
}

.product-category svg {
      fill: #366479;
      height: 50px;
}

.product-update .types {
    width: 70%;
    margin: 20px 1px;
    border-radius: 5px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 4px #848484;
}

.product-update .types h3 {
      font-weight: normal;
    font-size: 16px;
    margin: 5px;
}

.product-update .types .add-type {
    
      margin-top: 15px;
    padding-top: 10px;
    border-top: 1px solid #8c8c8c;
}

.product-update .specs {
    width: 70%;
    padding: 10px;
    border-radius: 5px;
      box-shadow: 1px 1px 4px #848484;
    margin-bottom: 50px;
}

.product-update .specs h3 {
      font-weight: normal;
    font-size: 16px;
    margin: 5px;
}

.product-update .specs .add-spec {
      margin-top: 15px;
    padding-top: 10px;
    border-top: 1px solid #8c8c8c;
}

    .product-update .specs form {
        display: flex;
        flex-direction: column;
    }

    .product-update .specs table {
      border-collapse: collapse;
      width: 100%;
    }
    
.product-update .specs tr:nth-child(even){background-color: #f2f2f2;}

.product-update .specs td, .product-update .specs th {
    border: 1px solid #ddd;
    padding: 8px;
}

.product-update .specs th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #379F9E;
    color: white;

}

@media only screen and (max-width: 768px) {
    .db-product {
        width: 94%;
    margin: 0 auto;
    }

    .form-product__update {
        width: 100%;
    }
    .form-product__update input {
        width: 100%;
    }
    
.product-update .types {
    width: 100%;
    margin: 30px 1px;
    border-radius: 5px;
    padding: 5px;
}

.product-update .specs {
    width: 100%;
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
}
}