/* Vars*/
html {
    --main-turkish: #379f9e;
    --main-white: #fff;
    --main-yellow: #e7f26c;
    --byr-header-color: #366479;
}

* {
    padding: 0;
    margin: 0;
}

html {
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 1px;
    font-size: 12px;
}

/* Main navigation */
.main-navigation {
    padding: 25px 0;
    background: var(--main-turkish);
}

.main-navigation div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-navigation ul {
    list-style-type: none;
    display: flex;
}

.main-navigation ul li a{
    display: block;
    color: var(--main-white);
    text-decoration: none;
    padding: 0 2rem;
    font-size: 1.7rem;
}

.main-navigation ul li:not(:last-child) a {
    border-right: 2px solid var(--main-white);
}

.main-navigation__logo {
    display: block;
}
.main-navigation__logo img {
    width: 50px;
}

/* Build your rig */
.byr-header {
    width: 100%;
    background-color: var(--byr-header-color);
    color: var(--main-white);
}
.byr-header .container{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.byr-header__stepper {
    display: flex;
    width: 50%;
}

.stepper__step {
    width: 15px;
    height: 15px;
    border: 1px solid var(--main-white);
    border-radius: 50px;
    margin-right: 7px;
    position: relative;
}

.stepper__step:not(:last-child):after {
    content: '';
    height: 1px;
    background-color: var(--main-white);
    position: absolute;
    right: -8px;
    top: 6px;
    width: 8px;
}

.stepper__step.done {
    background-color: var(--main-white);
}

.stepper__step.done.active {
    background-color: var(--main-yellow);
}