@{
    ViewBag.Title = "About";
}


<header class="about__header">
    <div class="about__header-title">
        <h1>Who are we?</h1>
    </div>
    <div class="about__header-description">
        <div class="col-md-4 col-lg-4 col-sm-8 col-xs- about__desc-card">
            <div>
                <h2>We are the Desktop Guys</h2>
                <br />
                <p>Some kind of short introduct text <br /> about us studying web development and deciding on creating a web shop for noobs, who are looking for a place to easily build their rig and learn a thing or two about during the process.</p>
            </div>
        </div>
    </div>
</header>

<div class="about__card-wrapper">
    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-8 about__card">
        <div class="about__card-img"></div>
        <div class="about__card-text">Name: <b>Malthe</b></div>
        <div class="about__card-text">About: <b>Wev developer and coffee connoisseur</b></div>
        <div class="about__card-text">Dream: <b>Developing a time machine made out of cheese</b></div>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-8 about__card">
        <div class="about__card-img"></div>
        <div class="about__card-text">Name: <b>Peter</b></div>
        <div class="about__card-text">About: <b>Web developer and exper salsa dance</b></div>
        <div class="about__card-text">Dream: <b>Helping to develop a time machine made out of cheese</b></div>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-8 about__card">
        <div class="about__card-img"></div>
        <div class="about__card-text">Name: <b>Lukas</b></div>
        <div class="about__card-text">About: <b>Web developer and pro skydiver</b></div>
        <div class="about__card-text">Dream: <b>Stealing a time machine and changing the school's curriculum</b></div>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-8 about__card">
        <div class="about__card-img"></div>
        <div class="about__card-text">Name: <b>Chris</b></div>
        <div class="about__card-text">About: <b>Web developer'ish, sick designer and a random brown guy</b></div>
        <div class="about__card-text">Dream: <b>Being the brown emperor and changing the color of all flags to brown</b></div>
    </div>
</div>