@{
    ViewBag.Title = "About";
}


<header class="about__header">
    <div class="about__header-title">
        <h1>Who are we?</h1>
    </div>
    <div class="about__header-description">
        <div class="col-md-4"> </div>
        <div class="col-md-4 about__desc-card">
            <div>
                <h2>We are the Desktop Guys</h2>
                <br />
                <p>Some kind of short introduct text <br /> about us studying web development and deciding on creating a web shop for noobs, who are looking for a place to easily build their rig and learn a thing or two about during the process.</p>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</header>

<div class="about__card-wrapper">
    <div class="col-md-2"></div>
    <div class="about__card col-md-2">
        <div class="about__card-img"></div>
        <div class="about__card-text">Malthe</div>
        <div class="about__card-text">Wev developer and coffee connoisseur</div>
        <div class="about__card-text">Developing a time machine made out of cheese</div>
    </div>
    <div class="about__card col-md-2">
        <div class="about__card-img"></div>
        <div class="about__card-text">Peter</div>
        <div class="about__card-text">Web developer and exper salsa dance</div>
        <div class="about__card-text">Helping to develop a time machine made out of cheese</div>
    </div>
    <div class="about__card col-md-2">
        <div class="about__card-img"></div>
        <div class="about__card-text">Lukas</div>
        <div class="about__card-text">Web developer and pro skydiver</div>
        <div class="about__card-text">Stealing a time machine and changing the school's curriculum</div>
    </div>
    <div class="about__card col-md-2">
        <div class="about__card-img"></div>
        <div class="about__card-text">Chris</div>
        <div class="about__card-text">Web developer'ish, sick designer and a random brown guy</div>
        <div class="about__card-text">Being the brown emperor and changing the color of all flags to brown</div>
    </div>
    <div class="col-md-2"></div>
</div>