@using DesktopWarrior.Models.ViewModels;


    
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Our latest motherboards have arrived</h2>
</div>
<div class="jumbotron">
    <h2>Our latest motherboards have arrived</h2>
</div>